<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.mora0199.remembrall" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mora0199</name>
    <description>
        The app will use localNotifications to save the dates of special occasions, and Cordova iOS.
    </description>
    <author email="mora0199@algonquinlive.com" href="https://github.com/mora0199/remembrall">
        Remembrall
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="^0.8.5" />
    <engine name="ios" spec="^4.5.5" />
</widget>
