@import url("../css/SF.otf");

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding-top: 1.25rem;                       /* iOs 10 or lower */
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top);      /* iOS 11.2 */
    background-color: rgb(255, 255, 255);
    font-family: 'SF Compact Rounded Regular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1rem;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
    margin-top: 35px;
    text-align: center;
}

h5 {
    margin: 0px;
}

.top-banner {
    position: fixed;
    margin-top: 30px;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 70px;
    z-index: 50;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    background-color:rgba(63, 186, 223, 0.6);
}

.footer {
    position: fixed;
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom);     /* iOS 11.2 */
    align-content: center;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    z-index: 50;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);
    background-color:rgb(63, 186, 223);
}

.pages {
    display: block;
    z-index: 10;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    left: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#rem-add, .remind-del {
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: center center;
    background-size: contain;
    border: none;
    outline: none;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    align-self: center;
    justify-self: center;
}

#rem-add {
    background-image: url(../img/add.png);
}

.remind-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.remind-item {
    padding: 5px;
    border-bottom: 1px solid rgb(165, 165, 165);
    display: grid;
    grid-auto-rows: 40px;
    grid-template-areas:
        "l del"
        "d del";
    grid-template-columns: 2fr;
    background-color:rgb(255, 255, 255);
    align-content: start;
    align-items: start;
    justify-self: start;
    width: 100%;
    height: auto;
}

.remind-lbl {
    grid-area: l;
    color: rgb(103, 103, 103);
    padding: 0.5rem;
    font-weight: 600;
    margin-right: 5px;
    text-align: left;
}

.remind-dt {
    grid-area: d;
    color: rgb(140, 140, 140);
    padding: 0.5rem;
    text-align: left;
}

button.remind-del,
input.remind-del {
    grid-area: del;
    background-image: url(../img/delete.svg);
}

.detail {
    padding: 5px;
    display: grid;
    grid-template-areas:
        "rem rem"
        "lbl lbl"
        "wh wh"
        "dt tm";
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    width: 100%;
    height: auto;
}

#rem-lbl, #rem-date, #rem-time {
    color: rgb(90, 90, 90);
    font-size: 1rem;
}

#remlbl {
    grid-area: rem;
    padding: 15px 0 3px 5px;
}

#whlbl {
    grid-area: wh;
    padding: 15px 0 3px 5px;
}

#rem-lbl {
    grid-area: lbl;
}

#rem-date {
    grid-area: dt;
}

#rem-time {
    grid-area: tm;
    align-self: start;
}

.det-header {
    display: grid;
    grid-template-areas:
        "ccl lbl done";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    width: 100%;
    height: auto;
}

#lblCancel, #lblDone {
    padding-bottom: 3px;
    align-self: end;
    color: rgb(42, 120, 179);
}

#lblCancel {
    grid-area: ccl;
    justify-self: start;
    padding-left: 5px;
    color: rgb(42, 120, 179);
}

#det-title {
    grid-area: lbl;
    align-self: start;
    justify-self: center;
}
#lblDone {
    grid-area: done;
    justify-self: end;
    padding-right: 5px;
}

@media screen and (max-width:684px) {
    /* input, button {
        width: 60px;
    } */
}

@media screen and (max-width:592px) {
    /* input, button {
        width: 50px;
    } */
}

@media screen and (max-width:360px) {
    /* input, button {
        width: 40px;
    } */
}

